---
import Layout from '../layouts/Layout.astro'
import JourneyStepsForm from '../components/JourneyStepsForm'
---

<Layout>
  <main
    class="h-[90vh] mx-auto max-w-4xl flex flex-col items-center justify-center gap-6"
  >
    <JourneyStepsForm client:visible />
  </main>
</Layout>
