<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<title>Tripbuddy</title>
<meta name="title" content="tripbuddy" />

<meta property="og:type" content="website" />

<style is:global>
  * {
    scrollbar-gutter: stable;
  }
</style>
